<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<br>
	<p th:if="${!cuentas.isEmpty()}">La lista esta vacia</p>
	<table>
		<thead>
			<tr>
				<th> ID</th>
				<th> Nombre</th>
				<th> Saldo</th>
				<th> Numero de telefono</th>
				<th>Dia de creacion</th>
			</tr>
			<tbody>
				
				<tr th:each="cuenta: ${cuentas}">
					<td th:text="${cuenta.getId()}"></td>
					<td th:text="${cuenta.getNombre()}"></td>
					<td th:text="${cuenta.getSaldo()}"></td>
					<td th:text="${cuenta.getNumeroTelefono()}"></td>
					<td th:text="${cuenta.getDiaCreacion()}"></td>
				</tr>
				
			</tbody>
		</thead>
	</table>
	<a th:href="@{/formClientes}">Formulario Clientes</a>
	<a th:href="@{/}">Atras</a>
</body>
</html>


			